<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boyi.hospital.mapper.DeptMapper">

    <resultMap id="BaseResultMap" type="com.boyi.hospital.model.entity.Dept">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="hospitalNo" column="hospital_no" jdbcType="VARCHAR"/>
            <result property="deptCode" column="dept_code" jdbcType="VARCHAR"/>
            <result property="deptName" column="dept_name" jdbcType="VARCHAR"/>
            <result property="parentDeptCode" column="parent_dept_code" jdbcType="VARCHAR"/>
            <result property="logo" column="logo" jdbcType="VARCHAR"/>
            <result property="introduction" column="introduction" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,hospital_no,dept_code,
        dept_name,parent_dept_code,logo,
        introduction,address,status,
        create_time,update_time
    </sql>
</mapper>
