<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boyi.hospital.mapper.DoctorMapper">

    <resultMap id="BaseResultMap" type="com.boyi.hospital.model.entity.Doctor">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="hospitalNo" column="hospital_no" jdbcType="VARCHAR"/>
            <result property="deptCode" column="dept_code" jdbcType="VARCHAR"/>
            <result property="doctorCode" column="doctor_code" jdbcType="VARCHAR"/>
            <result property="doctorName" column="doctor_name" jdbcType="VARCHAR"/>
            <result property="avatarImg" column="avatar_img" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="skills" column="skills" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,hospital_no,dept_code,
        doctor_code,doctor_name,avatar_img,
        title,skills,create_time,
        update_time
    </sql>
    <select id="getDoctorScheduleVO" resultType="com.boyi.hospital.model.vo.schedule.DoctorScheduleVO">
        SELECT
        d.hospital_no AS hospitalNo,
        d.dept_code AS deptCode,
        d.doctor_code AS doctorCode,
        d.doctor_name AS doctorName,
        d.avatar_img AS avatarImg,
        d.title AS title,
        d.skills AS skills,
        s.surplus AS surplus,
        s.register_fee AS registerFee,
        s.schedule_id AS scheduleId
        FROM
        t_doctor_info d
        JOIN
        t_schedule_info s
        ON
        d.hospital_no = s.hospital_no
        AND d.dept_code = s.dept_code
        AND d.doctor_code = s.doctor_code
        WHERE
        s.dept_code = #{deptCode}
        AND s.hospital_no = #{hospitalNo}
        <if test="scheDate!= null">
            AND s.sche_date = #{scheDate}
        </if>
    </select>

    <select id="getDoctorDetail" resultType="com.boyi.hospital.model.vo.dector.DoctorDetailQuery">
        SELECT
            d.hospital_no AS hospitalNo,
            d.dept_code AS deptCode,
            d.doctor_code AS doctorCode,
            d.doctor_name AS doctorName,
            d.avatar_img AS avatarImg,
            d.title AS title,
            d.skills AS skills
        FROM
            t_doctor_info d
        WHERE
            d.hospital_no = #{hospitalNo}
          AND d.dept_code = #{deptCode}
          AND d.doctor_code = #{doctorCode}
    </select>
</mapper>
